*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #0067f6;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

aside,
main,
section {
  display: block;
}

body {
  margin: 0;
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  text-align: left;
  background-color: #f3f3f3;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  color: var(--main-color);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0047aa;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  text-transform: none;
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button {
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    order: -1;
  }
  .order-lg-last {
    order: 13;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
  .order-lg-11 {
    order: 11;
  }
  .order-lg-12 {
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #000000;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 103, 246, 0.25);
}

.btn-primary {
  color: #ffffff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #0057d0;
  border-color: #0052c3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0057d0;
  border-color: #0052c3;
  box-shadow: 0 0 0 0.2rem rgba(38, 126, 247, 0.5);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-pill {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.02);
}

.badge-primary {
  font-weight: bold;
  color: #4f4f4f;
  background-color: #dfdfdf46;
}

a.badge-primary:hover,
a.badge-primary:focus {
  color: #ffffff;
  background-color: #0052c3;
}

a.badge-primary:focus,
a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 103, 246, 0.5);
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}
.list-group-item-action:hover,
.list-group-item-action:focus {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}
.list-group-item-action:active {
  color: #000000;
  background-color: #e9ecef;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.list-group-item.disabled,
.list-group-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: #ffffff;
}
.list-group-item.active {
  z-index: 2;
  color: #ffffff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.text-center {
  text-align: center !important;
}

.text-primary {
  color: var(--main-color) !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #0047aa !important;
}

/* ======================== ASIDE ======================== */

aside .profile-img-wrapper {
  text-align: center;
}
aside .profile-img-wrapper img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
}

aside .profile-name {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}

aside .profile-designation {
  padding: 5px 25px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

aside .social-links {
  margin-bottom: 1rem;
  text-align: center;
}
aside .social-links .social-link {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  color: var(--main-color);
  text-align: center;
  background-color: #ffffff;
  padding: 8px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}
aside .social-links .social-link:last-child {
  margin-right: 0;
}

aside .widget {
  text-align: center;
  margin-bottom: 28px;
}
aside .widget .widget-title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
aside .widget .widget-content {
  font-size: 13px;
}
aside .widget .widget-content p {
  margin-bottom: 5px;
}
aside .widget .widget-content p:last-of-type {
  margin-bottom: 10px;
}
aside .widget.card {
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
}
aside .widget.card .widget-title {
  color: var(--main-color);
}

.btn-download-cv {
  margin: 0 auto;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  padding: 8px 30px;
}

.btn-hire-me {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding: 8px 12px;
}

body {
  padding: 20px 60px;
}
@media (max-width: 991px) {
  body {
    padding-top: 87px;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-wrapper {
  display: flex;
}
@media (max-width: 767px) {
  .content-wrapper {
    flex-direction: column;
  }
}

aside {
  padding-right: 57px;
  min-width: 240px;
}
@media (max-width: 767px) {
  aside {
    width: 100%;
    padding-right: 0;
  }
}

/* ======================== MAIN ======================== */

main {
  flex-grow: 1;
}

main {
  padding: 36px 60px 24px;
  border-radius: 1rem;
  background-color: #ffffff;
  border-top-right-radius: 10px;
}
@media (max-width: 767px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

main .section-title {
  font-size: 25px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.125rem;
}

main .section-subtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: var(--main-color);
}

main p {
  font-size: 13px;
  line-height: 1.538;
  font-weight: 300;
}

/* SECTION INTRODUCTION */

main .intro-section {
  margin-bottom: 29px;
}
main .intro-section .section-title {
  margin-bottom: 1rem;
}

/* SECTIONS PARCOURS EDUCATION ET EXPERIENCE */

main .resume-section {
  margin-bottom: 47px;
}

main .time-line {
  list-style: none;
  padding-left: 0;
  margin-bottom: 24px;
}

main .time-line-item {
  line-height: 0;
  padding-left: 40px;
  padding-bottom: 24px;
  position: relative;
}

main .time-line-item::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  left: 5px;
  transform: translateX(-50%);
  width: 1px;
  background-color: #f3f3f3;
}

main .time-line-item::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dfdfdf;
}

main .time-line-item:not(:first-child)::after {
  top: 5px;
}

main .time-line-item:last-child {
  padding-bottom: 0;
}

main .time-line-item .badge {
  padding: 6px 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  border-radius: 2px;
  margin-bottom: 8px;
}

main .time-line-item-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2px;
}

main .time-line-item-subtitle {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.6;
  color: #636363;
  margin-bottom: 3px;
}

main .time-line-item-content {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 0;
}

/* SECTIONS SERVICES */

main .services-section {
  margin-bottom: 34px;
}

main .service-card {
  padding-top: 11px;
  padding-bottom: 11px;
}

main .service-card:first-child,
main .service-card:nth-child(3) {
  border-right: 1px solid #f3f3f3;
}

@media (max-width: 991px) {
  main .service-card:first-child,
  main .service-card:nth-child(3) {
    border-right: 0;
  }
}
@media (max-width: 991px) {
  main .service-card {
    border-bottom: 1px solid #f3f3f3;
  }
  main .service-card:last-child {
    border-bottom: 0;
  }
}

main .service-card .service-icon {
  width: 29.9px;
  height: 29.9px;
  margin-right: 17.1px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
main .service-card .service-title {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 8px;
}

main .service-card .service-description {
  font-size: 10px;
  font-weight: 300;
  max-width: 180px;
  margin-bottom: 0;
}
